image: Ubuntu

stack: jdk 11

branches:
  only:
    - master

build: off

services:
   - docker

install:
  - ps: sudo curl -L "https://github.com/docker/compose/releases/download/1.26.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
  - ps: sudo chmod +x /usr/local/bin/docker-compose
  - ps: sudo docker-compose up -d
  - sleep 10
  - java -Dspring.datasource.url=jdbc:mysql://localhost:3306/app -jar aqa-shop.jar &


test_script:
  - sudo chmod +x gradlew
  - ps: ./gradlew test --info “-Dselenide.headless=true”

build_script:
  - sleep 10
  - sudo chmod +x ./gradlew
  - ./gradlew build --warning-mode all
  - ./gradlew test -Dselenide.headless=true -Durlbd=jdbc:mysql://localhost:3306/app --scan

artifacts:
  - path: build/reports/tests/appveyor
    name: logsAppveyor



  
